
.intro{
  font-size: 50px;
  text-align: center;
  height: 680px;
  color: white;
  font-family: 'Trade winds';
  padding-top: 80px;
  background-image: url(../img/photo-1513104890138-7c749659a591.jpeg);
}
h1{
  font-size: 150px;
  font-family: 'Akronim';
}
h2{
  text-align: center;
}
.order{
  align-items: center;
  background-color: gold;
  padding-top: 0px;
  padding-bottom: 0px;  
  font-family: 'Pacifico';
}
#top{
  float: left;
}
#toppings{
  padding-top: 0px;
  text-align: center;
}
#btn{
  padding-top: 50px;
  padding-bottom: 50px;
}
.submit{
  padding-top: 20px;
}
body{
  background-color: crimson;
}
.crust{
  padding-bottom: 40px;
}
h4{
  padding-top: 40px;
}
.about{
  font-size: 30px;
  font-family: 'Lacquer-Regular';
  background-color: gold;
}
h3{
  text-decoration: underline;
}
li{
  display: block;
  font-size: 20px;
}
